@use 'config';

// joinSelectorName(('button', 'text-color')) => '--button--text-color'
@function joinStateName($theme, $state) {
  $name: config.$rosi-prefix + '-' + $theme + '-' + $state;

  @return $name;
}

// getCssVar('button', 'text-color') => var(--el-button-text-color)
@function getCssVar($theme, $state) {
  @return var(#{joinStateName($theme, $state)});
}


// joinSelectorName(('button')) => 'r-button'
// joinSelectorName(('button', 'text-color')) => 'r-button--text-color'
@function joinSelectorName($selector, $suffix: '') {
  $name: config.$prefix + config.$separator + $selector;

  @if $suffix !='' {
    $name: $name + config.$double-separator + $suffix;
  }

  @return $name;
}
