$rosiui-black: #000;
$rosiui-white: #fff;
$rosiui-primary: #f03d4d;
$rosiui-primary-light: #ffdadd;
$rosiui-accent-hover: #d62939;
$rosiui-accent-border: #c21b2b;
$rosiui-light: #f6f9fc;
$rosiui-light-gray: #f8f9fa;
$rosiui-gray: #d5d7dc;
$rosiui-dark-gray: #909090;
$rosiui-dark: #363636;
$rosiui-link: #5e5cc7;
$rosiui-link-dark: #4643e2;
$rosiui-info: #2972fa;
$rosiui-success: #0dd157;
$rosiui-warning: #fab633;
$rosiui-danger: #fb4143;

$rosiui-light-hover: #d9e6f2;
$rosiui-dark-hover: #424242;
$rosiui-info-hover: #2368e9;
$rosiui-link-hover: #f8f7ff;
$rosiui-success-hover: #00b147;
$rosiui-warning-hover: #f9a90e;
$rosiui-danger-hover: #f1393c;

$rosiui-fg: #0f172a;
$rosiui-bg: $rosiui-white;

$rosiui-select-bg: rgb(0 161 255 / 20%);
$rosiui-input-border: rgb(61 171 240);

$rosiui-code-bg: var($rosiui-primary-light);
$rosiui-code-fg: #dc4753;

$rosiui-form-group-bg: var($rosiui-light-gray);
$rosiui-form-group-fg: var($rosiui-dark-gray);

$toast-primary-bg: rgb(49 59 80 / 90%);

$tooltip-primary-bg: rgb(69 77 93 / 90%);

$placeholder-fg: #a9a9a9;

$animation-duration: 0.2s;
$focus-opacity: 0.55;

$focus-size: 0 0 0.1rem 0.15rem;
$focus-color: rgb(240 61 77 / 13%);
