// common variables
@use './variables' as *;
@forward '../mixins/config.scss';

$common-config: (
  'colors': (
    'brand': (
      'base': $brand-color,
      'hover': $brand-color-hover,
      'focus': $brand-color-focus,
      'active': $brand-color-active,
      'disabled': $brand-color-disabled,
      'light': $brand-color-light
    ),
    'primary': $primary-color,
    'success': $success-color,
    'warning': $warning-color,
    'danger': $error-color,
    // 'link': $rosiui-link,
    // 'info': $rosiui-info,
    // 'black': $rosiui-black,
    // 'white': $rosiui-white,
  ),
  $font-size: (

  )
);
$colors: (
  "brand": $brand-color,
  "primary": $primary-color,
  "success": $success-color,
  "warning": $warning-color,
  "danger": $error-color,
  // "light": $rosiui-light,
  // "dark": $rosiui-dark,
  // "link": $rosiui-link,
  // "link-dark": $rosiui-link-dark,
  // "info": $rosiui-info,
  // "black": $rosiui-black,
  // "white": $rosiui-white,
);
