/* 仅做初次测试用例，需重新编写样式文件 */

.rosy-button {
  padding: 0 20px;
  height: 32px;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border: none;
  border-width: 1px;
  transition: all 0.26s;

  & + .rosy-button {
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.default {
    color: #ffffff;
  }

  &-primary {
    background-color: #ff466b;

    &:hover {
      background-color: #ff466bd1;
    }

    &:focus {
      box-shadow: 0 0 0 2px #ff003342;
      background-color: #ff466bd1;
    }
  }

  &-success {
    background-color: #67c23a;

    &:hover {
      background-color: #67c23ace;
    }

    &:focus {
      box-shadow: 0 0 0 2px #55ff0031;
      background-color: #67c23ace;
    }
  }
}
