:root,
:root[theme="light"] {
  --rosiui-brand: #ff466b;
  --rosiui-primary: #2972fa;
  --rosiui-success: #0dd157;
  --rosiui-warning: #f9a90e;
  --rosiui-error: #f1393c;

  // 状态 主题色
--rosiui-brand-hover: #f03d4d;            // hover态
--rosiui-brand-focus: #ff466b;            // focus态，包括鼠标和键盘
--rosiui-brand-active: #f03d4d;          // 点击态
--rosiui-brand-disabled: #fc7a94;      // 禁用态
--rosiui-brand-light: #f03d4d80;          // 浅色的选中态

// 状态 原色
--rosiui-primary-hover: #1062f9;        // hover态
--rosiui-primary-focus: #2972fa;        // focus态，包括鼠标和键盘
--rosiui-primary-active: #2972fa;      // 点击态
--rosiui-primary-disabled: #8fb4f9;  // 禁用态
--rosiui-primary-light: #2972fa80;        // 浅色的选中态

// 状态 成功
--rosiui-success-hover: #0cb94d;        // hover态
--rosiui-success-focus: #0dd157;        // focus态，包括鼠标和键盘
--rosiui-success-active: #0dd157;      // 点击态
--rosiui-success-disabled: #6ad091;  // 禁用态
--rosiui-success-light: #0dd15780;        // 浅色的选中态

// 状态 警告
--rosiui-warning-hover: #f9ad1a;        // hover态
--rosiui-warning-focus: #f9a90e;        // focus态，包括鼠标和键盘
--rosiui-warning-active: #f9a90e;      // 点击态
--rosiui-warning-disabled: #f8cd77;  // 禁用态
--rosiui-warning-light: #f9a90e80;        // 浅色的选中态

// 状态 失败
--rosiui-danger-hover: #eb0507;            // hover态
--rosiui-danger-focus: #f1393c;            // focus态，包括鼠标和键盘
--rosiui-danger-active: #f1393c;          // 点击态
--rosiui-danger-disabled: #f57779;      // 禁用态
--rosiui-danger-light: #f1393c80;
}
